infra/n8n/workflows/certificate-workflow.import.json
{
  "name": "Certificate Auto Issue Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "certificate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "Webhook_In",
      "name": "Webhook In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.userId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "leftValue": "={{ $json.courseId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "IF_Validate",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8080/api/certificate/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.CERTIFICATE_INTERNAL_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"userId\": $json.userId,\n  \"courseId\": $json.courseId\n}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "HTTP_Generate",
      "name": "Generate Certificate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "IF_Generate_Success",
      "name": "Generate Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1020,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8080/api/certificate/fail",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.CERTIFICATE_INTERNAL_API_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\n  \"userId\": $json.userId || $item(0).$node[\"Webhook In\"].json.userId,\n  \"reason\": $json.message || \"n8n generate 단계 실패\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "HTTP_Fail",
      "name": "Notify Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        430
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, data: $json } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "RESP_Success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1260,
        120
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, data: $json } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "RESP_Fail",
      "name": "Respond Fail",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1260,
        310
      ]
    }
  ],
  "connections": {
    "Webhook In": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Generate Certificate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Certificate": {
      "main": [
        [
          {
            "node": "Generate Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Success?": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Failure": {
      "main": [
        [
          {
            "node": "Respond Fail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "fcb15f15-6e45-45bd-9152-ef27fa92ca50"
}
